# Data Manipulation

Jawablah poin-poin assignment berikut. perhatikan dengan baik apa yang diminta pada soal.

Anda bekerja sebagai seorang AI/ML Engineer, atasan anda mengirimkan anda data kepada anda dan meminta untuk memberikan analisa dengan menggunakan semua metode pada data manipulation berikut :

- Filtering
- Sorting
- Grouping / Aggregasi
- Join / Merging
- Pivot
- Crosstab
- Appending

Notes : Sebelum menjawab permintaan diatas, pertama-tama awali dengan mengajukan pertanyaan analisa terlebih dahulu dan tulis insight dari yang anda dapat, **pertanyaan analisa dilakukan pada semua metode data manipulation diatas**

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("supermarket_sales.csv")

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [5]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

### Filtering

with asumption rating < 7 is a bad rating. we want to see how much is there a "Bad Rating"

In [6]:
df[df["Rating"] >= 7]["Rating"].count()

np.int64(501)

In [7]:
df[df["Rating"] < 7]["Rating"].count()

np.int64(499)

there are nearly 50% of customer had a bad experience on the supermarket

### Sorting

What category has the most selling?

In [8]:
df.groupby("Product line")["Quantity"].sum().sort_values(ascending=False)

Product line
Electronic accessories    971
Food and beverages        952
Sports and travel         920
Home and lifestyle        911
Fashion accessories       902
Health and beauty         854
Name: Quantity, dtype: int64

Electronic accessories has the highest selling product

how is the difference between customer type and its rating?

In [9]:
df.groupby("Customer type")["Rating"].mean().sort_values(ascending=False)

Customer type
Normal    7.005210
Member    6.940319
Name: Rating, dtype: float64

suprisingly, member customer doesn't make the rating quality higher

what category has the highest rating?

In [10]:
df.groupby("Product line")["Rating"].mean().sort_values(ascending=False)

Product line
Food and beverages        7.113218
Fashion accessories       7.029213
Health and beauty         7.003289
Electronic accessories    6.924706
Sports and travel         6.916265
Home and lifestyle        6.837500
Name: Rating, dtype: float64

"Food and Beverages" products received the highest rating, indicating that the quality of products and/or services in this category is the most satisfying for customers.

### Grouping / Aggregasi

What gender has highest percentage of member customer type

In [11]:
(df.groupby(["Customer type","Gender"])["Gender"].count() / len(df) * 100)

Customer type  Gender
Member         Female    26.1
               Male      24.0
Normal         Female    24.0
               Male      25.9
Name: Gender, dtype: float64

what branch has the highest selling

In [12]:
df.groupby("Branch")["Quantity"].sum().sort_values(ascending=False)

Branch
A    1859
C    1831
B    1820
Name: Quantity, dtype: int64

Among customers with Member status, there are more women than men.
This could indicate that women are more loyal or more interested in supermarket membership programs.

Branch A has the highest total quantity sales, although the difference is small compared to other branches.

### Join / Merging

In [13]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
df_branch = pd.read_csv("branch_info.csv")
df_branch.head()

  Branch   Region  Manager  Opened Year
0      A    South    Alice         2015
1      B  Central      Bob         2017
2      C    North  Charlie         2016

In [15]:
df_product = pd.read_csv("product_info.csv")
df_product.head()

             Product line     Category    Supplier  Warranty (months)
0       Health and beauty       Beauty  Supplier A                 12
1  Electronic accessories  Electronics  Supplier B                 24
2      Home and lifestyle         Home  Supplier C                 18

what branch uses supplier A the most?

In [16]:
market_product = pd.merge(df, df_product, left_on="Product line", right_on="Product line", how="right")
market_product.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Category,Supplier,Warranty (months)
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Beauty,Supplier A,12
1,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,Beauty,Supplier A,12
2,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2,Beauty,Supplier A,12
3,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7,Beauty,Supplier A,12
4,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6,Beauty,Supplier A,12

In [17]:
supplier_a_counts = (
    market_product[market_product["Supplier"] == "Supplier A"]
    .groupby("Branch")["Supplier"]
    .count()
    .to_frame()
    .rename(columns={"Supplier": "Supplier A"})
)
supplier_a_counts

        Supplier A
Branch
A               47
B               53
C               52

Supplier A is fairly evenly distributed across three branches (A, B, and C), with the highest number of transactions in Branch B (53).

How many each supplier in each region?

In [18]:
market_product_branch = pd.merge(market_product, df_branch, left_on="Branch", right_on="Branch", how="right")
market_product_branch.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Category,Supplier,Warranty (months),Region,Manager,Opened Year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Beauty,Supplier A,12,South,Alice,2015
1,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,Beauty,Supplier A,12,South,Alice,2015
2,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2,Beauty,Supplier A,12,South,Alice,2015
3,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7,Beauty,Supplier A,12,South,Alice,2015
4,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6,Beauty,Supplier A,12,South,Alice,2015

In [19]:
market_product_branch.groupby(["Region", "Supplier"])["Supplier"].count()

Region   Supplier
Central  Supplier A    53
         Supplier B    55
         Supplier C    50
North    Supplier A    52
         Supplier B    55
         Supplier C    45
South    Supplier A    47
         Supplier B    60
         Supplier C    65
Name: Supplier, dtype: int64

The South Region has the highest supplier activity, particularly Suppliers C (65) and B (60).

The North Region is more balanced across suppliers, with a distribution range of 45–52.

In the Central Region, Supplier B has the highest activity.

### Pivot

In [20]:
market_branch = pd.merge(df, df_branch, left_on="Branch", right_on="Branch", how="right")
market_branch.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Region,Manager,Opened Year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,South,Alice,2015
1,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,South,Alice,2015
2,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,South,Alice,2015
3,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,South,Alice,2015
4,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8,South,Alice,2015

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

How is the product category revenue in each Region?

In [22]:
market_branch.pivot_table(index="Region", columns="Product line", values="Total", aggfunc="sum")

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Region,,,,,,
Central,17051.4435,16413.3165,15214.8885,19980.660,17549.1645,19988.1990
North,18968.9745,21560.0700,23766.8550,16615.326,13895.5530,15761.9280
South,18317.1135,16332.5085,17163.1005,12597.753,22417.1955,19372.6995

North excels in Fashion, Food, and Electronic Accessories.

Central excels in Health & Beauty and Sports & Travel.

South dominates in Home & Lifestyle.

How is Male and Female spend their money on?

In [23]:
market_branch.pivot_table(index="Gender", columns="Product line", values="Total", aggfunc="sum")

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055

Female customers showed the highest spending in the categories "Food and beverages," "Fashion accessories," and "Home and lifestyle," while their spending was lowest in "Health and beauty." Conversely, male customers recorded their significantly highest spending in the "Health and beauty" category, while spending on food and beverages was the lowest. The only category where their spending was nearly equal was "Electronic accessories," indicating significantly different shopping priorities between the two genders.

### Crosstab

What is the Average Total Sales based on Branch and Customer Type?

In [24]:
pd.crosstab(index=df["Gender"], columns=[df["Branch"]] , values=df["Total"], aggfunc="mean")

Branch           A           B           C
Gender
Female  330.864391  326.717870  346.547545
Male    295.705047  313.349276  325.888290

The average total purchase of female customers was higher than that of males across all branches, with the largest difference being at Branch A. Branch C recorded the highest average spend for both genders, indicating potentially greater purchasing power or more effective promotional strategies there.

### Appending

since we dont have the same row of dataset, We cant concat dataset with different row on each dataset. for now, let just create a dummy dataset

for now lets add age column

In [25]:
age = pd.DataFrame({
    "Age": np.random.randint(10, 61, size=1000)  #random
})

In [26]:
df_merge = pd.concat([df, age], axis=1)
df_merge.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Age
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,58
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,32
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,57
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,15
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,24

what is the mean age of rating >= 7?

In [27]:
df_merge[df_merge["Rating"] >= 7]['Age'].mean()

np.float64(33.60678642714571)

In [28]:
df_merge[df_merge["Rating"] < 7]['Age'].mean()

np.float64(35.16432865731463)

In [29]:
df_merge["Age"].mean()

np.float64(34.384)

Customers with higher ratings (≥ 7) tend to be slightly younger than those with lower ratings. While the difference is small (~1.3 years), it still suggests that younger customers may be more satisfied with the service or product offered. This could be a reason to re-examine marketing strategies and customer experiences for older age groups.